.customButton{
    border: 0;
    width: 100px;
    height: 100px;
}
.customButton button{
    font-size: 20px;
    width: 100%;
    height: 100%;
}

.setModeCustomButton{
    border: 0;
    width: 300px;
    height: 100px;
}
.setModeCustomButton button{
    font-size: 20px;
    width: 100%;
    height: 100%;
}